@page "/"

<PageTitle>Ratespiele</PageTitle>

<div class="container p-5 my-5 border">
    <div class="h1">Ratespiele</div>
    <div class="row">
        <div class="col-8">
            <div class="d-flex justify-content-center">
                <div class="container">
                    <div class="h3">Schön, dass Du da bist! 🤡</div>
                    <div class="h3">
                        Du findest hier viele Ratespiele.
                        Wähle dazu einfach Dein Spiel auf der linken 👈 Seite.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

