@page "/"

<PageTitle>Ratespiele</PageTitle>

<div class="container" id="summary">
    Schön, dass Du da bist! <br />
    Du findest hier viele Ratespiele.
</div>

<div>
    Wähle dazu einfach Dein Spiel auf der linken 👈 Seite. 🤡
</div>